    .jumbotron {
        position: relative;
        background: #000 url('../images/jumbo.jpeg') center center;
        width: 100%;
        height: 500px;
        background-size: cover;
        overflow: hidden;
        color:darkorange;
        margin-top: 55px;

    }